article(class='page hidden')
	div(class='big-image')
		div(class='inner')
			div(class='fader')
				div(class='text')
					a(class='goto-next') Read Next
					h1(class='title')
					h2(class='description')
	div(class='content')
		h3(class='byline') Publisheds&nbsp;
			time
			| &nbsp; by 
			span(class='author')
		h1(class='title')
		h2(class='description')
		div(class='text')